.labeling-image {
  float: left;
  align-content: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.directions {
  color: white;
  font-weight: 200;
  border: 2px solid rgba(77, 180, 209, 0.577);
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  width: 35vw;
  min-width: 35vw;
  height: 5vh;
  min-height: 5vh;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
}
.directions-expanded {
  color: white;
  font-weight: 200;
  border: 2px solid rgba(77, 180, 209, 0.577);
  border-radius: 10px;
  padding: 10px;
  padding-right: 25px;
  margin-left: 20px;
  width: 34vw;
  min-width: 34vw;
  height: 35vh;
  min-height: 35vh;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
}
.directions-title {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}
.info {
  background: clear;
  vertical-align: bottom;
  margin-left: 5px;
}
.labels {
  color: white;
  font-weight: 400;
  border: 2px solid rgba(77, 180, 209, 0.577);
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  width: 35vw;
  min-width: 35vw;
  height: 50vh;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
}

.restrs{
  color: white;
  width: 35vw;
  min-width: 35w;
  height: 40vh;
  float: left;
  padding-left: 5px;
  padding-top: 5px;
  margin-left: 20px;
}
.restrs button {
  width: 140px;
  height: 40px;
  font-family: 'Roboto-Regular';
  font-weight: bold;
  font-size: 12pt;
  border-radius: 8px;
  border: 0px;
  margin-right: 5px;
}
.restrs button:hover {
  border: 2px solid white;
}

.restrs button.next {
  color: white;
  background-color: red;
}

.restrs button.save {
  color: white;
  background-color: green;
}

.restrs button.del {
  color: #4DB4D1;
  background-color: rgba(140, 20, 20, 0.675);
}

.restrs button:visited {
  outline: none;
}

select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-padding-end: 25px;
  -moz-padding-end: 25px;
  -webkit-padding-start: 5px;
  -moz-padding-start: 5px;
  background-color: #707575;
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 3px;
  padding-bottom: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-ok {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 150px;
  height: 100px;
  color: white;
  font-size: 15pt;
  background-color: green;
  border-radius: 8px;
}

.button-cancel {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 150px;
  height: 100px;
  color: white;
  font-size: 15pt;
  background-color: gray;
  border-radius: 8px;
}