.labeling-content {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.labeling-sidepanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.labeling-stage {
}
.directions {
  color: white;
  font-weight: 200;
  border: 2px solid rgba(77, 180, 209, 0.577);
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
.directions-expanded {
  color: white;
  font-weight: 200;
  border: 2px solid rgba(77, 180, 209, 0.577);
  border-radius: 10px;
  padding: 10px;
  padding-right: 25px;
  margin-left: 20px;
  margin-right: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
.directions-title {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}
.info {
  background: clear;
  vertical-align: bottom;
  margin-left: 5px;
}
.chevron {
  height: 80%;
}
.labels-holder {
  color: white;
  font-weight: 400;
  font-family: Poppins-Regular;
  min-width: 35vw;
  border: 2px solid rgba(77, 180, 209, 0.577);
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  height: 50vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.labels {
  min-width: 35vw;
  min-height: 70%;
  height: 73%;
  padding-bottom: 0px;
  margin-bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.labels-signifier-top {
  top: 2px;
  left: 0px;
  width: 100%;
  height: 9%;
  max-height: 10%;
  min-width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.labels-signifier-bottom {
  bottom: 2px;
  left: 0px;
  width: 100%;
  height: 10%;
  min-width: 100%;
  margin: -10px;
  max-height: 10%;
  padding: 0px;
  text-align: center;
}

.restrs{
  display: flex;
  width: 40vw;
  flex-direction: column;
  align-content: center;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  height: 40vh;
  padding-left: 5px;
  padding-top: 5px;
  margin-left: 20px;
}

.restrs-buttons {
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.restrs .restrs-buttons > button {
  width: 300px;
  height: 40px;
  font-family: 'Roboto-Regular';
  font-weight: bold;
  font-size: 11pt;
  border-radius: 8px;
  margin-right: 4px;
  padding: 10px;
}
.restrs .restrs-buttons button:hover {
  border: 2px solid white;
}

.restrs .restrs-buttons button.next {
  color: white;
  background-color: red;
}

.restrs button.save {
  color: white;
  background-color: green;
}

.restrs button.del {
  color: #4DB4D1;
  background-color: rgba(140, 20, 20, 0.675);
}

.restrs button:visited {
  outline: none;
}

select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-padding-end: 25px;
  -moz-padding-end: 25px;
  -webkit-padding-start: 5px;
  -moz-padding-start: 5px;
  background-color: #707575;
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 3px;
  padding-bottom: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-ok {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 150px;
  height: 100px;
  color: white;
  font-size: 15pt;
  background-color: green;
  border-radius: 8px;
}

.button-cancel {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 150px;
  height: 100px;
  color: white;
  font-size: 15pt;
  background-color: gray;
  border-radius: 8px;
}