.footer-holder {
  font-family: Poppins-Regular;
  font-size: 1.0rem;
  position: relative;
  height: 20vh;
}

.footer-holder .footer {
  padding: 5px;
  text-align: right;
  position: relative;
  color: white;
  line-height: 5vh;
  height: 15vh;
  background-color: hsla(218, 50%, 20%, 1.0);
}

.footer-holder .footer-base {
  font-size: 0.675rem;
  padding: 5px;
  color: white;
  position: relative;
  line-height: 5vh;
  height: 5vh;
  background-color: rgba(0,0,0,1);
}