.message {
  width: 100%;
}

.heading {
  font-family: Poppins-SemiBold;
  color: black;
}
.background {
  position: relative;
  width: 100%;
  text-align: center; 
}
.body {
  margin-left: 5%;
  position: relative;
  font-family: Roboto-Regular;
  height: 100px;
  width: 70%;
}

.image {
  margin-left: 10%;
  float: left;
  position: relative;
  vertical-align: top;
  width:10%;
  transform: rotate(-10deg) scale(0.8);
  border-radius: 20px;
  border: 10px solid hsla(218, 50%, 20%, 1.0);
  padding-left: 10px;
  padding-right: 10px;
  background-color:hsla(218, 50%, 20%, 1.0);
}