.inactive {
  padding: 10px;
  border-radius: 10px;
  margin-left: 5px;
  color: black;
  text-decoration: none;
  border: 1px solid clear;
  position: relative;
  z-index: 100;
}

.hovering {
  background-color: rgba(180, 180, 180, 0.3);
  padding: 10px;
  border-radius: 10px;
  border-bottom: 5px solid #000;
  margin-left: 5px;
  color: black;
  text-decoration: none;
}

.user-bar {
  position: relative;
  width: 300px;
  height: 100px;
  float: right;
  overflow: hidden;
  background: #4DB4D1;
  border-radius: 15px;
}

.user-info {
  width: 220px;
  height: 100px;
  text-align: left;
  float: right;
  padding: 0px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: top;
  align-content: flex-start;
  margin-top: -10px;
  margin-right: 10px;
  float: right;
  padding: 6px;
  overflow: hidden;
  background: rgba(100, 100, 100, 0.75);
  border-radius: 50%;
  text-align: center;
}

.username {
  font-family: Poppins-SemiBold;
  color: black;
}

.email {
  color: rgba(120, 60, 60, 0.7);
  vertical-align: top;
}

.score {
  font-family: Roboto-Regular;
  line-height: 40px;
  color: white;
}
