a,
a:hover,
a:visited,
link,
.inactive,
.inactive:hover {
  padding: 10px 10px 5px 10px;
  margin-left: 5px;
  color: white;
  border: 1px solid clear;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  text-decoration: none;
}

.active {
  padding: 10px 10px 5px 10px;
  margin-left: 5px;
  text-decoration: none;
  color: white;
  border: 1px solid clear;
  background-color: hsla(218, 50%, 20%, 1);
}

.user-bar .active {
  padding: 10px 10px 5px 10px;
  margin-left: 5px;
  text-decoration: none;
  border-radius: 20px;
  color: white;
  border: 1px solid clear;
  background-color: hsla(218, 50%, 20%, 1);
}

.user-bar {
  position: relative;
  width: 300px;
  height: 100px;
  float: right;
  overflow: hidden;
  background: #4db4d1;
  border-radius: 15px;
}

.user-info {
  width: 220px;
  height: 100px;
  text-align: left;
  float: right;
  padding: 0px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: top;
  margin-top: -10px;
  margin-right: 10px;
  float: right;
  padding: 6px;
  padding-right: 10px;
  overflow: hidden;
  background: rgba(100, 100, 100, 0.75);
  border-radius: 50%;
  text-align: center;
}

.username {
  font-family: Poppins-SemiBold;
  color: black;
}

.email {
  color: rgba(120, 60, 60, 0.7);
  vertical-align: top;
}

.score {
  font-family: Roboto-Regular;
  line-height: 40px;
  color: white;
}

.navbar {
  position: "relative";
  z-index: 1;
  padding-top: 10px;
  min-width: "800px";
  width: "100vw";
}
