@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,600,700');
$primary-bg-color: #4DB4D1;
// add other colors here for central palette

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$primary-font-size: 1rem;
$secondary-font-size: 0.85rem;
